.AirmixSticker {
  height: 60px;
  background: #ffffff;
  border: 1px solid #00b960;
  box-sizing: border-box;
  border-radius: 4px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  font-feature-settings: 'pnum' on, 'lnum' on;

  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;

  color: #383838;
}
