.MainFooter {
  font: 'Gilroy-Medium';
  font-size: 18px;
  color: #ffffff;

  background-color: #1e212b;
  height: 200px;
  text-align: center;

  &__row {
    display: flex;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
  }

  &__logo {
    order: 0;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  .MainFooter {
    height: 312px;
    &__logo {
      order: -1;
    }
  }
}
