.Block4 {
  padding: 0;
  padding-top: 100px;
  padding-bottom: 100px;

  h1 {
    position: relative;
    z-index: 10;
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 145%;
    text-align: center;

    color: #303030;
    padding-bottom: 50px;

    @media screen and(max-width: 576px) {
      font-size: 26px;
    }
  }

  .Block4__titleText {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 145%;
    color: #303030;

    @media screen and(max-width: 576px) {
      font-size: 18px;
    }
  }
  
  .Block4__titleText2 {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 145%;
    color: #303030;
    padding-top: 20px;

    @media screen and(max-width: 576px) {
      font-size: 18px;
    }
  }

  .Block4__titleDiv {
    padding-bottom: 40px;

    .Block4__titleImg {
      padding-right: 30px;
    }
  }

  .Block4__buttons {
    padding-bottom: 40px;
  }

  .Block4__ColImg {
    img {
      margin-left: -150px;
      margin-top: -50px;

      @media screen and(max-width: 1200px) {
        margin-left: 0;
        margin-top: 0;
      }

      @media screen and(max-width: 576px) {
        margin-left: 0;
        margin-top: -50px;
      }
    }
  }

  .Block4__ColContent {
    position: relative;
    z-index: 5;
  }

  .Block4__Cont {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-position-y: 50px;

    @media screen and(max-width: 1200px) {
      background-image: none !important;
    }
  }

  .Block4__button {
    background: #00b960;
    border-radius: 4px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    cursor: pointer;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #ffffff;

    margin-top: 30px;

    transition: all ease-in-out .5s;
    &:hover {
      background: #019950;
    }

    @media screen and(max-width: 576px) {
      width: 100%;
    }
  }
}
