.Certificate {
  font: 'Gilroy-Medium';
  font-size: 18px;
  color: #303030;
  height: 1000px;
  width: 100%;
  background-color: #09182f;
  padding: 100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h1 {
    color: #ffffff;
    width: 100%;
    height: 100px;
  }
  p {
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
    width: 80%;
  }
}
