.Certificate {
  font: 'Gilroy-Medium';
  font-size: 18px;
  color: #303030;
  width: 100%;
  background-color: #09182f;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h1 {
    color: #ffffff;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 145%;

    @media screen and(max-width: 992px) {
      font-size: 42px;
      line-height: 130%;
    }
  }
  p {
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
  }
  &__images {
    margin-top: 100px;
  }

  .Certificate__images2 {
    padding-top: 50px;
  }
}
