.Block3 {
  background-color: #09182F;

  padding: 0;
  padding-top: 130px;
  padding-bottom: 100px;
  overflow: hidden;

  @media screen and(max-width: 576px) {
    padding-top: 30px;
  }

  .Block3__Col {
    height: 100%;
    padding: 10px;
    padding-bottom: 80px;
  }

  .Block3__card1 {
    .AirmixIconCard__img {
      margin-top: -70px !important;
      margin-left: 50px;
    }
  }
  
  .Block3__card2 {
    .AirmixIconCard__Row1 {
      justify-content: end;
    }

    .AirmixIconCard__img {
      z-index: 20;
    }
  }

  .Block3__Slide {
    padding-top: 160px;

    .AirmixIconCard__img {
      transform: translate(-10%, -55%);
    }
  }
  
  .Block3__mobCard2 {
    .AirmixIconCard__img {
      transform: translate(-10%, -70%);
    }
  }
  
  .Block3__mobCard4 {
    .AirmixIconCard__img {
      transform: translate(0%, -70%);
    }
  }

  .Block3__mobCard5 {
    .AirmixIconCard__img {
      transform: translate(-10%, -60%);
    }
  }
}