.Block2 {
  padding: 0;
  padding-top: 100px;
  padding-bottom: 100px;

  .Block2__imgMob {
    .Block2__mobTitle {
      h1 {
        font-family: 'Gilroy-SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 145%;
        text-align: center;

        color: #303030;
      }
    }

    .Block2__mobRow {
      padding-top: 150px;

      .Block2__mobCol {
        width: 300px;
        height: 535px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .Block2__qblock {
      .Block2__qblock1 {
        .ToggleMessageEl__action {
          padding-top: 10px !important;
          padding-left: 100px;
        }
      }
        
      .Block2__qblock2 {
        .ToggleMessageEl__action {
          padding-top: 15px !important;
          padding-right: 40px;
        }
      }

      .Block2__qblock3 {
        .ToggleMessageEl__action {
          padding-top: 30px !important;
          padding-left: 60px;
        }
      }
      
      .Block2__qblock4 {
        .ToggleMessageEl__action {
          padding-top: 30px !important;
          padding-right: 80px;
        }
      }
      
      .Block2__qblock5 {
        .ToggleMessageEl__action {
          padding-top: 30px !important;
          padding-left: 20px;
        }
      }
      
      .Block2__qblock6 {
        .ToggleMessageEl__action {
          padding-top: 85px !important;
          padding-left: 20px;
        }
      }
      
      .Block2__qblock7 {
        .ToggleMessageEl__action {
          padding-right: 130px;
        }
      }

    }
  }
}
